.signInContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.signInForm__welcomeTitle {
  font-size: 45px;
}

.signInForm__welcomeDescription {
  font-size: 15px;
  color: #5c5c5c;
}
