.card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #fe635e2a;
}

@media(min-width:992px){
    .card{
        cursor: pointer;
    }
    .card:hover h3{
        color:#fe635e;
    }
    .card__image{
        transition: 1s;
    }
    .card:hover .card__image{
        transition: 1s;
        transform: scale(1.25);
    }
    
}